.tags {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
}

.tag {
    padding: 0.3rem;
    gap: 10px;
    background: var(--color-fnt-tag-cornFlowerBlue);
    border-radius: 2px;
}

.tag > a {
    color: var(--color-tag-zumthor);
    text-decoration: none;
}

