@use "components/card.scss";
@use "components/tag.scss";
@use "components/heading.scss";
@use "components/paragraph.scss";
@use "components/avatar.scss";
@use "components/picture.scss";
@use "elements.scss";

// ----------------------------------------------- Nav -----------------------------------------------


.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list li {
    list-style: none;
    margin-right: 1rem;
}

.nav-list li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color-nav-items-heliotrope);
}

.nav-list li a:hover {
    text-decoration: underline;
}

.active-element {
    font-weight: 700;
}

.btn-discord {
    width: 40px;
    height: 40px;
    border: none;
    background: var(--color-bg-discordBtn-blue);
    color: var(--color-fnt-discordBtn-white);
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 20px;
    cursor: pointer;
}

.btn-github {
    width: 40px;
    height: 40px;
    border: none;
    background: var(--color-bg-githubBtn-bunker);
    color: var(--color-fnt-githubBtn-white);
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 20px;
    cursor: pointer;
}

i:hover {
    transition: 0.5s;
    opacity: 0.6;
}

.nav-list li button i {
    font-size: 1rem;
}

// Cómo llamar al último hijo de un ul

.nav-list li:last-child button i {
    font-size: 1.6rem;
}

// ------------------------------------------ Post ------------------------------------------

.post-list-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem;
    @include elements.desktop {
        padding: 0;
    }
}

.post-list {
    display: grid;
    gap: 2rem;
    @include elements.desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(560px, auto) minmax(430px, auto);
        
    }
}




    @include elements.desktop {
        .post-list-card-extended,
        .post-list-card:nth-child(4n) {
            background: var(--color-bg-fourth-card-mauve);
            flex-direction: row;
            grid-column: 1 / 4;
            padding: 3rem;
            gap: 3rem;

            & > img {
                max-width: 660px;
                max-height: 340px;
            }

            .tag {
                background: white;
            }

            a {
                color: var(--color-nav-items-heliotrope);
            }
    }

    .post-list-card-extended:nth-child(8n) {
        flex-direction: row-reverse;
    }
}



.post-list-card:nth-child(4n) header img {
    width: 660px;
    height: 340px;
}

.post-list-card {
    background: var(--color-bg-card-white);
}

.nav-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;

    @include elements.desktop {
        flex-wrap: wrap;
    }
}

.nav-filter-items {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: flex-start;
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-filter-items a {
    text-decoration-style: underline;
    color: var(--color-bg-discordBtn-blue);
    font-weight: 800;
    font-size: 1.2rem;
}

.nav-filter input {
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    background: var(--color-bg-card-white);
    color: var(--color-fnt-paragraph-card-fiord);
    font-weight: 400;
    width: 100%;

    @include elements.desktop {
        max-width: 290px;
    }
}
