@mixin container-width {
    width: 100%;
    max-width: var(--container-max-width);
}

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg-mysticWhite);
    margin: 0 auto;
    @include container-width;
}

.main-header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include container-width;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.logo-section img {
    margin-right: 1rem;
}

.logo-section .f {
    font-size: 2.5rem;
    font-weight: 800;
    color: #4385F5;
}

.logo-section .o {
    font-size: 2.5rem;
    font-weight: 800;
    color: #EB4235;
}

.logo-section .oo {
    font-size: 2.5rem;
    font-weight: 800;
    color: #F9BC04;
}

.logo-section .g {
    font-size: 2.5rem;
    font-weight: 800;
    color: #4385F5;
}

.logo-section .l {
    font-size: 2.5rem;
    font-weight: 800;
    color: #34A853;
}

.logo-section .e {
    font-size: 2.5rem;
    font-weight: 800;
    color: #EB4235;
}

main {
    display: flex;
    flex-direction: column;
    @include container-width;
}