:root {
    --color-bg-mysticWhite: #e4ebee;

    --color-nav-items-heliotrope: #a855f7;

    --color-ftd-card-heliotrope: #a855f7;
    --color-ftd-card-fnt-title-heliotropeLight: #a78bfa;
    --color-ftd-card-fnt-paragraph-iceberg: #e2f5f7;
    --color-ftd-card-fnt-readmore-purpleHeart: #6d28d9;

    --color-bg-fourth-card-mauve: #d8b4fe;

    --color-bg-card-white: #ffffff;
    --color-fnt-title-card-black: #000000;
    --color-fnt-paragraph-card-fiord: #3C5562;
    --color-tag-zumthor: #e0e7ff;
    --color-fnt-tag-cornFlowerBlue: #6366f1;
    --color-fnt-author-card-black: #000000;
    --color-fnt-readingTime-card-baliHai: #7799ac;

    --color-bg-discordBtn-blue:#5865f2;
    --color-fnt-discordBtn-white: #ffffff;

    --color-bg-githubBtn-bunker: #0d1117;
    --color-fnt-githubBtn-white: #ffffff;
    
    --container-max-width: 1180px;
}

$breakpoint-large: 992px;